/*animation instruction*/
@keyframes text {
    0% {
        transform: translate(20%, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/*Variables*/
:root {
    --header-color-1: rgb(11, 11, 100);
}

/*------------------------------------------*/
body {
    background-color: whitesmoke;
}

/***********************HEADER*********************/
.navbar {
    min-width: 800px;
}

h1 {
    text-align: center;
    color: white;
}

.header {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.search-news {
    margin-right: 2px;
    width: 245px;
}

header {
    position: absolute;
    overflow: hidden;
    background-image: linear-gradient(rgb(27, 21, 69), rgb(13, 9, 46));
    min-width: 800px;
}

.breaking-news {
    padding-top: 35px;
    animation: text 45s infinite linear;
    padding-left: 100%;
    white-space: pre;
    background-image: linear-gradient(rgb(27, 21, 69), rgb(13, 9, 46));
}

/***************** Block Content***********************/
.content {
    position: relative;
}

.left-widgets,
.right-widgets,
.navbar {
    z-index: 10;
}

.left-sidebar,
.right-sidebar {
    width: 45%;
}

/*response*/
@media (max-width: 1400px) {
    .main-news {
        max-width: 100%;
    }

    .left-sidebar,
    .right-sidebar,
    .left-widgets,
    .right-widgets {
        display: none;
    }

}

/*************** News container *******************/
.main-news {
    display: block;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

h6 {
    font-style: italic;
}

h6+p {
    font-size: larger;
}

.news-block {
    display: flex;
    margin: 10px;
    height: 300px;
    min-width: 800px;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    transition: transform 0.15s linear;
    z-index: 1;
}

.news-block:hover {
    transform: translateX(-5px) translateY(-5px);
}

.news-block>img {
    max-width: 35%;
    object-fit: cover;
    max-height: 100%;
}

/********************** widgets **********************/
.left-widgets,
.right-widgets {
    width: 300px;
    position: fixed;
    top: 150px;
}

.left-widgets {
    left: 20px;
}

.right-widgets {
    right: 20px;
}

/****** weather *******/
#openweathermap-widget-22 {
    margin-top: 50px;
}

/****** Trading ********/
.trades-widget {
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.375);
    margin-left: auto;
    margin-top: 10px;
    position: relative;
}

.image-section {
    width: 50px;
}

.trades-image-container {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90px;
    height: 90px;
    z-index: 10;
}

.stat {
    position: relative;
}

.trades-widget .stat::before {
    display: block;
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    top: -2px;
    left: 10%;
    background-color: red;
}

.trades-widget .footer {
    height: 5px;
    border-radius: 5px;
}

.trades-widget,
.trades-widget .footer {
    background-color: #131313;
}



/****** covid ********/
.covid-widget {
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.375);
    margin-left: auto;
    position: relative;
}

.image-section {
    width: 50px;
}

.covid-image-container {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 90px;
    height: 90px;
    z-index: 10;
}

.stat {
    position: relative;
}

.covid-widget .stat::before {
    display: block;
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    top: -2px;
    left: 10%;
    background-color: red;
}

.covid-widget .footer {
    height: 20px;
    border-radius: 5px;
}

.covid-widget,
.covid-widget .footer {
    background-color: #153a02;
}

/***** football *******/

.football-widget {
    position: relative;
    margin-left: 5px;
    margin-top: 35px;
    width: 225px;
    border-radius: 5px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.375);

}

.football-widget,
.football-widget .footer {
    background-color: #224c86;
}

.football-image-container {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.football-widget .stat::before {
    display: block;
    content: "";
    height: 2px;
    width: 80%;
    position: absolute;
    top: -2px;
    left: 10%;
    background-color: red;
}

.football-widget .footer {
    height: 20px;
    border-radius: 5px;
}

.teams {
    font-size: small;
}

.football-table-head {
    border-bottom: 2px solid black;
    background-image: linear-gradient(whitesmoke, whitesmoke, dodgerblue);
}

.football-wallpaper-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 75vh;
    width: 50vw;
}

/**********************STOCKS USER PAGE*********************************/

.trades-image-container {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 70px;
    height: 70px;
    z-index: 10;
}

.stocks-center {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#stocks-search-header {
    text-align: center;
}

.stock-finder {
    width: 300px;
    flex-direction: column
}

.stocks-list-center {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_stocks {
    font-size: 20px;
}

.delete-stock {
    background: none;
    border: none;
    color: red;
}

.deleted-list {
    display: flex;
    align-items: center;
    border: 1px solid grey;
}

.green-arrow {
    color: green;
}

.red-arrow {
    color: red;
}

/********************** Login Form + Sign Up Form **********************/
form {
    margin-left: 150px;
    margin-right: 150px;
}


.form-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/*************Login menu*************/
#login-popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.81);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

#login-popup:target {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.close-popup {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: block;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}

#login-popup>div {
    text-align: center;
    z-index: 3;
    position: relative;
}

.form-signin .close-button {
    position: absolute;
    top: 0;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

.form-signin .close-button:hover {
    transform: scale(1.2, 1.2);
}


/****************dashboard********************/
.dashboard {
    margin-left: 150px;
    margin-right: 150px;
}

/***********stocks************/

.stocks-center {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#stocks-search-header {
    text-align: center;
}

.stock-finder {
    width: 300px;
    flex-direction: column
}

/**************************404 page not found************************/
.page_404 {
    margin-top: 10vh;
    margin-left: 10vw;
}


.four_zero_four_bg {

    background-image: url(https://i.gifer.com/7yrz.gif);
    height: 400px;
    background-position: center;
}