/*animation instruction*/
@keyframes text {
    0% {
        transform: translate(20%, 0);
    }
    /*
        50%{
          transform: translate(-160%, 0);
        }
         */
    100% {
        transform: translate(-100%, 0);
    }
}
/*Variables*/
:root {
    --header-color-1: rgb(11, 11, 100);
}
/*-----*/
body {
    background-color: whitesmoke;
}
header {
    position: relative;
}

/*Main Block*/
main > header {
    position: absolute;
    overflow: hidden;
    background-image: linear-gradient(rgb(27, 21, 69), rgb(13, 9, 46));
}

.breaking-news {
    padding-top: 35px;
    animation: text 45s infinite linear;
    padding-left: 100%;
    white-space: pre;
    background-image: linear-gradient(rgb(27, 21, 69), rgb(13, 9, 46));

}
.sidebar, .navbar{
    z-index: 0;
}
/*News container*/
a, a:hover{
    text-decoration: none;
    color: black;
}

h6{
    font-style: italic;
}

h6+p{
    font-size: larger;
}
.news-block{
    display: flex;
    margin: 10px;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    transition: transform 0.15s linear;
}

.news-block:hover{
    transform: translateX(-5px) translateY(-5px);
}
.news-block>img{
    max-width: 25%;
}
/* Login Form + Sign Up Form */
.form-signin {
    width: 450px;
    background: whitesmoke;
    text-align: center;
    z-index: 3;
    position: relative;
}
.field-row{
    display: flex;
    justify-content: space-between;
}
#signup-popup, #login-popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

#signup-popup:target, #login-popup:target {
  visibility: visible;
  opacity: 1;
}

.close-popup {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: block;
  z-index: 2;
  position: fixed;
  cursor: pointer;
}
.form-signin .close-button {
  position: absolute;
  top: 0px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #0d6efd;
}
.form-signin .close-button:hover {
  color: #003893;
}