<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
                <section class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse sticky-top w-100 m-0 p-0">
                    <header class="navbar navbar-primary w-100 m-0 p-0">
                        <a class="navbar-brand col-md-3 col-lg-2" href="#">Good News</a>
                    </header>
                    <img src="static/widgets_templates/currency.png" alt="" class="w-100 my-4">
                    <img src="static/widgets_templates/finance.png" alt="" class="w-100 my-4">
                    <img src="static/widgets_templates/covid.png" alt="" class="w-100 my-4">
                </section>
            </div>
            <main class="col-md-6 ms-sm-auto col-lg-8 px-md-4">
                <header class="navbar navbar-primary sticky-top text-danger p-0 m-0">
                    <h5 class="breaking-news mx-5 p-3 m-0">{{ data_dict['breaking_news_long_string'] }}</h5>
                    <form action="" method="post" class="d-flex bg-light w-100 p-2">
                        <input name="search_word" class="form-control me-2" type="search" placeholder="Search" aria-label="Specify news">
                        <button class="btn btn-outline-success text-nowrap" type="submit">Specify news</button>
                    </form>
                </header>
                {% block news_container %}{% endblock %}
            </main>
            <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
                <section class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse sticky-top w-100 m-0 p-0">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
                        {% if current_user %}


                        <li class="nav-item mx-2">
                            <a class="nav-link btn btn-outline-danger py-1" href="">Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item mx-2">
                            <a class="nav-link btn btn-outline-primary py-1" href="#login-popup">Log in</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link btn btn-outline-warning py-1" href="#signup-popup">Sign up</a>
                        </li>
                        {% endif %}
                    </ul>
                    <img src="static/widgets_templates/TranslationThumb.webp" alt="" class="w-100 my-4">
                    <img src="static/widgets_templates/screen.png" alt="" class="w-100 my-4">
                    <img src="static/widgets_templates/calendar.png" alt="" class="w-100 my-4">
                </section>
            </div>
        </div>
    </div>
    {#    Sign Up Form#}
    <div id="signup-popup">
        <div class="form-signin p-3 border border-primary border-2 rounded-2">
            <form method="post" action="/#signup-popup">
                {{ form.csrf_token() }}
                <h4 class="h4 mb-3 fw-normal">Please sign up</h4>
                {% if get_flashed_messages() | length > 0 %}
                <p class="flashes">{{ get_flashed_messages()[0] }}</p>
                {% endif %}
                {% if current_user %}
                {% set fields_to_show = ('email', 'password') %}
                {% else %}
                {% set fields_to_show = ('email', 'password','confirm_password','firstname','lastname','location','language') %}
                {% endif %}
                {% for field in form if field.name in fields_to_show %}

                <div class="field-row">
                    <p>{{ field.label() }}</p>
                    <p>{{ field }}</p>
                </div>
                <p>
                    {% for error in field.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                <input class="w-100 btn btn-lg btn-warning my-1" id="signup-btn" type="submit" value="signup">
                <a class="close-button" href="#">&times;</a>
            </form>
        </div>
        <a href="#" class="close-popup"></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>