{% extends "base.html" %}
{% block title %}User settings{% endblock %}
{% block loginlink %}{% endblock %}
{% block breakingnews %}{% endblock %}
{% block content %}


    <form class="form-signup" method="POST" novalidate>
        <h4 class="form-signup-heading py-3">Please complete all the fields bellow and click submit to
            update your profile:</h4>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.firstname(class="form-control", id="email", value=user.firstname|capitalize) }}
            </div>
        <div class="col">
            {{ form.lastname(class="form-control", value=user.lastname|capitalize) }}
        </div>
    </div>
    <br>
    <div class="col">
        {{ form.country(class="form-control", value=user.country|capitalize) }}
    </div>
        <br>
        <div class="col">
            {{ form.city(class="form-control", value=user.city|capitalize) }}
        </div>
        <br>
        <div class="col">
            {{ form.language(class="form-control", value=user.language) }}
        </div>
        <br>
        <div class="row">
            <div class="col">
                {{ form.password(class="form-control", id="password", placeholder="Password") }}
            </div>
        </div>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <br>
        <div class="col-12">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>
{% endblock %}
{% block login%}
{% endblock %}