<div class="trades-widget ">
    <div class="d-flex justify-content-end">
        <div class="image-section">
            <div class="trades-image-container">
                <img class="img-fluid" src="{{ url_for('static', filename='widgets_templates/trading.png') }}" alt="">
            </div>
        </div>
        <div class="header-section">
            <h5 class="text-light pt-3 pb-0 mx-3 text-end">Trading</h5>
        </div>
    </div>

    <div class="stat bg-white px-1 pt-4">
        <table class="table table-striped">
            <tr>
                <td scope="col">{{ dax['symbol'] }} {{ dax['opening'] }}</td>
                {% if dax['change'] | int > 0 %}
                <td style="color: green;" scope="col">{{ dax['perc'] }} {{ dax['closing'] }}</td>
                {% else %}
                <td style="color: red;" scope="col">{{ dax['perc'] }} {{ dax['closing'] }}</td>
                {% endif %}
            </tr>
            <tr>
                <td scope="col">{{ djd['symbol'] }} {{ djd['opening'] }}</td>
                {% if djd['change'] | int > 0 %}
                <td style="color: green;" scope="col">{{ djd['perc'] }} {{ djd['closing'] }}</td>
                {% else %}
                <td style="color: red;" scope="col">{{ djd['perc'] }} {{ djd['closing'] }}</td>
                {% endif %}
            </tr>
            <tr>
                <th style="font-size: 12px;" scope="col">EXCHANGE</th>
                <th style="font-size: 12px;" scope="col">RATES</th>
            </tr>
            <tr>
                <td scope="col">EUR TO ILS</td>
                <td scope="col">{{ eur_ils['exchange_rate'] }}</td>
            </tr>
            <tr>
                <td scope="col">USD TO ILS</td>
                <td scope="col">{{ usd_ils['exchange_rate'] }}</td>
            </tr>
        </table>


    </div>
    <div class="footer"></div>
</div>